---
import Layout from "../layouts/Layout.astro";
import Pipeline from "../components/Pipeline.svelte";
import apiClient from '../lib/kiara_api'


export async function getStaticPaths() {
  // see https://docs.astro.build/en/core-concepts/routing/#static-ssg-mode for how the routing works
  const pipeline_ids = await apiClient.list_pipeline_ids();

  return pipeline_ids.map((p) => {
    return { params: { pipeline: p } };
  });
}

const { pipeline } = Astro.params;
const data = await apiClient.get_pipeline_structure(pipeline);
---

<Layout title={pipeline}>
  <a class="m-4" href="/">&larr;back to pipelines list</a>
  <Pipeline pipeline={data} client:load />
</Layout>
