---
import Layout from "@layouts/Layout.astro";
import apiClient from "@lib/kiara_api";
import PipelineSummary from "@components/PipelineSummary.svelte";

let pipeline_ids = await apiClient.list_pipeline_ids();
// TODO remove this filter when the extra pipelines work in kiara.service
// actually we only want to show these interesting extra ones, or the ones from plugins?
pipeline_ids = pipeline_ids.filter(
  (p) => !["topic_modeling", "victors_super_nice_test_workflow"].includes(p)
);

const pipelines = await Promise.all(
  pipeline_ids.map((p) =>
    apiClient.get_pipeline_structure(p).then((res) => [p, res])
  )
);

const installed_plugins = await apiClient.list_installed_plugins();
let plugins = Object.keys(installed_plugins)
  .sort((a, b) => a.localeCompare(b))
  .map((p) => p.replaceAll("-", "_"));
---

<Layout title="Lumy">
  <main
    class="prose prose-slate dark:prose-invert max-w-screen-xl w-full mx-auto px-4"
  >
    <h1 class="py-8 w-full text-center">Lumy Explorer</h1>
    <h2>Example Workflows</h2>

    <ul class="not-prose pl-0 grid lg:grid-cols-2 gap-4">
      {
        pipelines.map(([p_id, data]) => (
          <li class="card">
            <PipelineSummary pipeline_id={p_id} pipeline={data} />
          </li>
        ))
      }
    </ul>
    <h2>Documentation</h2>
    <!--  TODO link here to all operations/datatypes?-->
    <h3>By package</h3>
    <ul class="mb-8 text-lg">
      <li>
        <a href={`/plugins/kiara`}>kiara base package</a>
      </li>
      {
        plugins.map((p) => (
          <li>
            <a href={`/plugins/${p}`}>{p}</a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
