---
import Layout from "../layouts/Layout.astro";
const response = await fetch(
  `${import.meta.env.KIARA_SERVICE_ENDPOINT}/pipelines/list`
);
const pipelines = await response.json();
---

<Layout title="Welcome to Astro.">
  <main class="prose prose-slate dark:prose-invert mx-auto">
    <h1 class="py-8">Lumy Pipelines Explorer</h1>
    <ul class="">
      {
        pipelines.map((p) => (
          <li>
            <a href={`/${p}`}>{p.replaceAll("_", " ")}</a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
