---
import Layout from "@layouts/Layout.astro";
import apiClient from "@lib/kiara_api";
import PipelineSummary from "@components/PipelineSummary.svelte";

let pipeline_ids = await apiClient.list_pipeline_ids();
// TODO remove this filter when the extra pipelines work in kiara.service
pipeline_ids = pipeline_ids.filter(
  (p) => !["topic_modeling", "victors_super_nice_test_workflow"].includes(p)
);

const pipelines = await Promise.all(
  pipeline_ids.map((p) =>
    apiClient.get_pipeline_structure(p).then((res) => [p, res])
  )
);

const operations = await apiClient.list_operations();
let packages = [
  ...new Set(
    Object.entries(operations).map(([_, v]) => v.context.labels.package)
  ),
].sort((a, b) => a.localeCompare(b));
---

<Layout title="Welcome to Astro.">
  <main
    class="prose prose-slate dark:prose-invert max-w-screen-xl w-full mx-auto px-4"
  >
    <h1 class="py-8 w-full text-center">Lumy Explorer</h1>
    <h2>Example Workflows</h2>
    <!--TODO actually only show the interesting extra_pipelines ones -->
    <ul class="not-prose pl-0 grid lg:grid-cols-2 gap-4">
      {
        pipelines.map(([p_id, data]) => (
          <li class="card">
            <PipelineSummary pipeline_id={p_id} pipeline={data} />
          </li>
        ))
      }
    </ul>
    <h2>Plugin API Docs</h2>

    <!--  list all the plugins -->
    <!--  TODO list operations, filter by plugin,make datatype, module, operation page like mkdocs, also example pipelines? -->
    <!--  some operations are pipelines -->
    <!--  there are pipeline files in each repo at a known place? examples/pipeline and examples/data etc -->
    <!--  use tabular plugin as an example? -->
    <ul class="mb-8 text-lg">
      {
        packages.map((p) => (
          <li>
            <a href={`/plugins/${p}`}>{p}</a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
<style lang="postcss">
  .card {
    @apply bg-white dark:bg-slate-800 rounded-lg shadow list-none w-full;
  }
</style>
